body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 224, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.loginContainer {
  margin: auto;
  border: 1px solid black;
  width: 200px;
  height: 140px;
  margin-top: 250px;
}
.usernameInputContainer {
  margin: auto;
  width: 140px;
  margin-top: 10px;
}
.usernameInput {
  width: 133px;
}
.passwordConfirmInputContainer,
.passwordInputContainer {
  margin: auto;
  width: 140px;
  margin-top: 10px;
}
.passwordConfirmInput,
.passwordInput {
  width: 133px;
}
.titleCon {
  margin: auto;
  width: max-content;
}
.createButtonContainer,
.loginButtonContainer {
  width: 140px;
  margin: auto;
  margin-top: 10px;
}
.createButton,
.loginButton {
  width: 140px;
}
.loginAccountButtonStateButton,
.createAccountButtonStateButtonContainer {
  width: 120px;
  margin: auto;
  margin-top: 8px;
}
.loginAccountStateButton,
.createAccountButtonStateButton {
  width: 120px;
  border: transparent;
  background: transparent;
}
.loginAccountStateButton:hover,
.createAccountButtonStateButton:hover {
  border: transparent;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.dashboardContainer {
  display: grid;
  width: 1130px;
  height: 800px;
  margin: auto;
  padding: 4px;
  grid-gap: 4px;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
}
.errorMessageH1 {
  color: rgb(255, 0, 0);
  font-size: 12px;
  width: max-content;
  margin: 4px;
}
.errorContainer {
  width: max-content;
  margin: auto;
  margin-top: 8px;
}
.citationBox {
  float: left;
}
.accountBar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(241, 241, 241);
  grid-row: 1 /3;
  grid-column: 1 / 40;
  border-radius: 5px;
}
.favouritsContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(241, 241, 241);
  grid-row: 3/ 28;
  grid-column: 31/40;
  border-radius: 5px;
  float: left;
}
.citationPreviewContainer {
  border: 2px black solid;
  height: max-content;
}
.userInteratingContainer {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(241, 241, 241);
  grid-row: 3/ 28;
  border-radius: 5px;
  grid-column: 1 / 31;
}
.createContainerContainer {
  float: left;
  border-radius: 5px;
  margin: 4px;
  height: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 210px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.citationCreatorContainer {
  border: 1px black solid;
  margin: 4px;
  border-radius: 5px;
  width: 585px;
  height: 705px;
}
.citationTextAreaInput {
  float: left;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-size: 15px;
  margin: 4px;
  margin-bottom: 0px;
  width: 426px;
  height: 649px;
  resize: none;
}
.quoteDisplayContainer {
  border-radius: 5px;
  background-color: white;
  margin: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 257px;
  height: 535px;
  overflow: scroll;
}
.quoteDisplayContainer::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.ciationSelectorRow:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}
.ciationSelectorRow {
  background-color: white;
}
.quoteChangesableView {
  float: left;
}
.containerDashboardContainer {
  width: 861px;
  height: 716px;
}
.ContainerPreviewContainer {
  border-radius: 5px;
  margin: 4px;
  width: 863px;

  overflow: scroll;

  height: 647px;
}
.ContainerPreviewContainer::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.accountInfoProfilePic {
  margin: 10px;
  margin-top: 12px;
  float: left;
  width: 22px;
}
.containerButtonSelectContainer {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin: 4px;
  width: 210px;
  height: 120px;
  margin-bottom: 0px;
  margin-right: 0px;
  float: left;
  cursor: pointer;
}
.amountOfCitations {
  width: max-content;
  margin: auto;
  margin-top: 10px;
}
.amountOfFavourites {
  width: max-content;
  margin: auto;
  margin-top: 10px;
}
.accountInfoUsername {
  font-size: 17px;
  margin: 4px;
  margin-top: 8px;
}
.createContainerInput {
  font-size: 12px;
  margin: 12px;
  margin-left: 44px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 112px;
  height: 18px;
}
.createContainerButton {
  font-size: 12px;
  margin: 1px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 112px;
  height: 18px;
  margin-left: 44px;
  margin-top: 23px;
  cursor: pointer;
}
.containerButtonTitle {
  font-size: 18px;
  width: max-content;
  margin: auto;
  margin-top: 10px;
}
.logOutButton {
  float: right;
  cursor: pointer;
  margin: 4px;
  height: 41px;

  background-color: transparent;
}
.logOutButtonText {
  font-size: 12px;
  margin: 0px;
}
.accountInfoContainer {
  float: left;
  margin: 4px;
  height: 44px;
  border-radius: 5px;
  width: 208px;
  background-color: transparent;
}
.backButtonAndContainerNameContainer {
  border: 1px solid black;

  margin: 4px;
  width: 257px;
  height: 50px;
}
.backButton {
  border: 1px solid black;
  margin: 4px;
  height: 42px;
  background-color: rgb(158, 158, 158);
  color: white;
  float: left;
}
.citationViewContainerTitle {
  width: max-content;

  margin: auto;

  font-size: 32px;
}
.createCitationViewButton {
  border: 1px solid black;
  background-color: rgb(158, 158, 158);
  color: white;
  margin: 4px;
  width: 257px;
  height: 50px;
  cursor: pointer;
}
.dashboardCitationViewContainer {
  width: 860px;

  height: 700px;
}

.citationLeftSideContainer {
  height: 720px;
  width: 265px;
  float: left;
}
.citationRightSideContainer {
  width: 595px;
  float: left;
  height: 700px;
}
.citationViewContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 5px;
  margin: 4px;
  width: 585px;
  height: 705px;
}
.createCitationViewVButtonTitle {
  width: max-content;
  margin: auto;
  font-size: 21px;
  margin-top: 8px;
}
.referenceInput {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  border: 0px;
  margin: 4px;
  width: 425px;
  height: 30px;
}
.citationViewFavouriteButton {
  cursor: pointer;
  margin: 4px;
  font-size: 28px;
  margin-left: 555px;
  position: absolute;
  z-index: 23;
}
.createCitationButton {
  border: 1px solid black;
  background-color: rgb(158, 158, 158);
  color: white;
  cursor: pointer;
  height: 90px;
  width: 140px;
  margin: 4px;
  margin-left: 0px;
  margin-top: 344px;
}
.citationCreatorUpperContainer {
  width: 589px;
  height: 640px;
}
.scanImageToolContainer {
  float: left;
  width: 130px;
  height: 500px;
}
.citationTextAreaInputContainer {
  float: left;
  width: max-content;
  height: max-content;
  height: 661px;
}
.scanImageButton {
  border: 1px solid black;
  background-color: rgb(158, 158, 158);
  color: white;
  cursor: pointer;
  height: 56px;
  width: 140px;
}

.imageInput {
  display: none;
}
.imageInputLabel {
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 136px;
  height: 200px;
  margin: 4px;
  margin-left: 0px;
  cursor: pointer;
}
.citationDisplayTable {
  width: 257px;

  font-size: 13px;
}
.citationInPreviewCitation {
  margin: 34px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.citationInPreviewReference {
  margin: 4px;
  margin-left: 34px;
  margin-top: 0px;
}
.citationInPreviewDeleteButton {
  margin: 30px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(158, 158, 158);
  color: white;
  cursor: pointer;
}
.favouriteCitationLargeContainer {
  margin: 4px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 652px;
  overflow: scroll;
}
.favouriteCitationLargeContainer::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.favouriteCitationIndividualContainer {
  cursor: pointer;
  margin: 4px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.searchResultsContainer {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  width: 274px;
  z-index: 32;
}

.citationFavouriteButton {
  border: 0px;

  padding-left: 23px;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
}
.favouriteCitationCitation {
  margin: 4px;
}
.favouriteCitationReference {
  margin: 4px;
}
.favouriteCitationDate {
  margin: 4px;
}
.SearchBar {
  border: 1px solid black;
  margin: 4px;
  width: 250px;
  height: 25px;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
  margin-right: 0px;
  float: left;
}
.searchResultsTable {
  width: 270px;
}
.SearchBarContainer {
  float: left;

  margin-left: 190px;
}
.searchBarButton {
  float: left;
  margin: 4px;
  background-color: rgb(187, 187, 187);
  color: white;
  margin-left: -1px;
  height: 27px;
  border-radius: 0px 5px 5px 0px;
  width: 24px;
  border: 1px solid black;
}

.deleteContainerButtonContainer {
  cursor: pointer;
  margin: 4px;
  background-color: rgb(158, 158, 158);
  color: white;
  border: 1px solid black;
  height: 47px;
  width: 257px;
}
.deleteContainerButtonTitle {
  width: max-content;
  margin: auto;
  margin-top: 10px;
}

.searchResultsRow:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}
.searchResultsRow {
  background-color: white;
}
.favouriteTitle {
  width: max-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 9px;
}
